<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link rel="bookmark" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link href="/static/css/login.css" rel="stylesheet" />
</head>

<body>
    <div class="elight-product-box animated fadeInUp">
        <h2>登陆界面</h2>
        <ul class="product-desc">
            <li>没什么好描述的</li>
            <li>没什么好描述的1</li>
        </ul>
        <div class="product-btns">
            <a class="layui-btn layui-btn-normal layui-btn-small" target="_blank" href="https://blog.hxcpl.cn"><i class="layui-icon">&#xe609;</i>&nbsp;涵有闲</a>
        </div>
    </div>
    <div class="elight-login-box animated fadeInRight">
        <div class="elight-login-header">登陆界面</div>
        <div class="elight-login-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="login-icon"><i class="layui-icon">&#xe612;</i></label>
                    <input type="text" name="num" lay-verify="required" autocomplete="off" placeholder="账号/已认证邮箱" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
                    <input type="password" name="pass" lay-verify="required" autocomplete="off" placeholder="登陆密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input class="elight-pull-right" type="checkbox" lay-skin="primary" name="isSaveAccount" value="true" title="记住账号" />
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn btn-submit" lay-submit lay-filter="login">立即登录</button>
                </div>
            </form>
        </div>
        <div class="elight-login-fooder"></div>
    </div>
</body>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.jquery;
        // 监听form表单，拿到表单中的数据
        form.on('submit(login)', function(data) {
            // layer.msg(JSON.stringify(data.field));
            // window.location.href = 'index.html'
            // 提交从表单中获取的数据到服务端
            $.ajax({
                url:"/api/login",
                type:"post",
                data:JSON.stringify(data.field), // 把对象数据转换为json格式
                contentType:"application/json",// 规定发送给 服务端数据的 类型
                dataType:"json", // 规定 服务端传输过来的数据类型
                success:function (resp) {
                    // 回调函数，操作从服务端的响应内容
                    // console.log(resp)
                    if (resp.code == 200) {
                        window.location.href = '/views/index.html'
                    } else {
                        layer.msg(resp.msg)
                    }
                }
            })
            return false;
        });
    });
</script>

</html>